
.mybg{
    border-radius: 4px;
    width: 100%;
    /*background: #e8ebf7;*/
    background: #f3f4f8f0;
    /*background: rgb(238, 238, 238);*/
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.mybtn-primary{
    text-align: center;
    text-decoration: none;
    font-size: 15px;

    cursor: pointer;
    background-color: #e8ebf7;
    color: #23231a;
    border: 2px solid #6369d1;
    border-radius: 5px;
    font-family: "Aldrich", sans-serif;
}



.mybtn-primary:hover{
    color: white;
    background: #6369d1;
    border:2px solid #6369d1;
}

.sub-heading {
    font-size: 24px;
    font-weight: bold;
    font-family: "Aldrich", sans-serif;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.btn-submit {
    width: 200px;
    height: 45px;
}

.btn-active {
    color: white;
    background: #6369d1;
    border: #6369d1;
}

.mybtn-danger {
    text-align: center;
    text-decoration: none;
    font-size: 15px;

    cursor: pointer;
    background-color: #e8ebf7;
    color: #23231a;
    border: 2px solid #CC444B;
    border-radius: 5px;
    font-family: "Aldrich", sans-serif;
}
.mybtn-danger:hover {
    color: white;
    background: #CC444B;
    border: 2px solid #CC444B;
}

.gridbox{
    /*background: rgb(238, 238, 238);*/
    border-radius: 6px;
    margin: 10px;
    min-width: 340px;
}
.ant-card {
    border-radius: 6px;
    box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.bg-back{
    /*position: relative;*/
    margin-top: 50px;
    width: 100%;
    min-height: calc(100vh - 137px);
    display: flex;
    justify-content: center;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bg-back h2 {
    margin: 20px 0;
    font-size: 20px;
}

.payment{
    width: 70%!important;
    color: #000;
    font-weight: bolder;
    padding: 1%;
    background-clip: border-box;
}

.btn-container {
display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container button{
    min-height: 36px;
}

.card-container {
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 10px;
    display: flex;
}

.card-container>div{
    width: 20%;
    padding: 10px;
}