.form-container{
    background-color: #f6f6f3;
    margin: 150px auto;
    padding: 20px;
    display: flex;
    width: 680px;
    height: 450px;
    border-radius: 5px;
    overflow: hidden;
}


.image-uploader p{
    margin-top: 00px;
}
.form-column{
    flex: 50%;
    
}
p{
    text-align: center;
    
}
form{
    margin-left: 8px;
}
input{
    border-radius: 3px;
    border: 1px solid rgb(204, 202, 202);
    width: 100%;
    height: 35px;
    padding: 5px;
}
textarea{
    border-radius: 3px;
    border: 1px solid rgb(204, 202, 202);
    max-lines: 0;
    width: 100%;
    padding: 5px;
}
.submit-btn{
    background-color: #6369d1;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    margin: 4px 20px;
    cursor: pointer;
    float: right;
    border-radius: 4px;
}