.add-activity-btn{
    color: #232323;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #8fe388;
    border: none;
    border-radius: 5px;
    font-family: "Aldrich", sans-serif;
    align-items: flex-end;
}
.acivity-btn-container{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: end;
    
}