header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5%;
  height: auto;
  top: 0;
  background-color: #e8ebf7;
  width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  
}

.activity-page-navbar-items {
  margin: 0;
  padding: 0;
}
.activity-page-navbar-items li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  color: #23231a;
}
.activity-page-navbar-items li span {
  cursor: pointer;
  font-weight: bold;
  border-right: 1px solid grey;
  padding-right: 3px;
}

.title {
  border: none;
  color: #23231a;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  display: inline-block;
  font-size: 15px;
  margin: 4px 20px;
  cursor: pointer;
}

#logged_user_btn {
  background-color: #6369d1;
  border: none;
  color: #e8ebf7;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#logout_btn {
  color: #e8ebf7;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 4px;
  cursor: pointer;
  background-color: #e8ebf7;
  color: #23231a;
  border: 2px solid #6369d1;
  border-radius: 5px;
  font-family: "Aldrich", sans-serif;
}
