
.top-down {
    margin-top: 120px;
}

.card {
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 4px 1px rgba(69, 69, 69, 0.33);
}

.mybtn-primary{
    text-align: center;
    text-decoration: none;
    font-size: 15px;

    cursor: pointer;
    background-color: #e8ebf7;
    color: #23231a;
    border: 2px solid #6369d1;
    border-radius: 5px;
    font-family: "Aldrich", sans-serif;
}

.mycard{
    border-radius: 4px;
    width: 100%;
    /*background: #e8ebf7;*/
    background: #fff;
    box-shadow: 0 0 4px 1px rgba(69, 69, 69, 0.33);
    /*background: rgb(238, 238, 238);*/
    border: none;
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);*/
}

.mybg{
    border-radius: 4px;
    width: 100%;
    /*background: #e8ebf7;*/
    background: #f3f4f8f0;
    /*background: rgb(238, 238, 238);*/
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}