footer {
  margin: 2% 5%;

}

footer ul li {
  text-decoration: none;
  list-style: none;
}

.footer_content {
  display: flex;
  justify-content: space-between;
}

footer h3,
h4 {
  margin-bottom: 10px;
  padding: 5px;
}

ul li {
  float: left;
  color: aliceblue;
  list-style: square;
  margin: 10px;
}

ul li a {
  color: #6369d1;
}

.license-details p {
  font-size: 12px;
  color: #e8ebf7;
  margin-bottom: 0px;
  background-color: #23231a;
}

span {
  cursor: pointer;
}

.contacts li span {
  color: #23231a;
}
